---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found">
    <section class="flex justify-center items-center min-h-screen">
        <img src="https://media2.giphy.com/media/DnPbMAyOVVhJHRZHgy/giphy.gif?cid=ecf05e47ucap89zjhwty7v707cpmgwngxupdt6k0n3gtuads&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="404 image">
    </section>
</Layout>