---
import Layout from "../layouts/Layout.astro";
import LeftSection from "../components/LeftSection.astro";
---

<Layout title="CV">
	<div class="flex flex-col items-center justify-between gap-8 mt-16 mb-16 text-center md:flex-row md:text-left">
		<div>
			<h1 class="text-4xl">David Valero</h1>
			<h2 class="text-xl">Full Stack Developer</h2>
		</div>
		<div class="flex justify-center w-80">
			<a href="/">
				<img 
					width={108}
					height={108}
					src="/images/pic.jpg" 
					alt="Logo" 
					class="rounded-full"
				/>
			</a>
		</div>
	</div>
	
	<div class="flex flex-col justify-between leading-7 text-gray-400 md:flex-row">
		<div class="flex flex-col gap-16">
			<LeftSection />
		</div>
		

		<!-- ASIDE -->
		<div class="max-w-xs">
			<p>
				valeroterrondavid@gmail.com <br>
				Granada, Spain
			</p>
			<span class="font-bold">About me</span>
			<p>
				I'm passionate about building high-quality web applications that solve real-world problems and make people's lives easier. 
			</p>
		</div>

	</div>
</Layout>