---
import Layout from '../layouts/Layout.astro';
import projects from '../services/projects.json'
---

<Layout title="immdaviid">
	<div class="text-base flex flex-col text-gray-300 pt-36 pb-36">
		<p class="md:text-2xl mb-4">
			Hi! 👋 <br>
			<span class="md:text-7xl font-bold">I'm <span class="text-yellow-400">David</span> Valero,</span>
		</p>
		<p class="md:text-2xl">
			a <span class="font-bold">full-stack developer</span> who loves intuitive, <br>
			clean and modern UI design.
		</p>
	</div>
</Layout>