---
import Layout from '../layouts/Layout.astro';
import projects from '../services/projects.json'
---

<Layout title="immdaviid">

	<h1 class="mb-4 text-2xl font-bold text-gray-400">Latest projects</h1>
	<section>
		{
			projects.map(project =>{
				return(
				<div class="p-4 flex flex-row items-center gap-4">
					<h2 class="text-white font-semibold text-lg transition-all duration-150 hover:text-yellow-400">
						<a href={project.url}>{project.title}</a>		
					</h2>	
					<p class="text-gray-400">{project.description}</p>
					
				</div>
				)
			})
		}
	</section>
</Layout>