---

---

<header>
    <h1 class="text-white font-extrabold text-5xl tracking-tight mb-4">Hi 👋 I'm David Valero</h1>
    <p class="text-white">Hi there, I'm a spanish full stack developer with over 3 years of web development experience.</p>
</header>