<header class="flex flex-col px-4 py-5 md:px-0 md:py-24">
  <div>
		<h1 class="mb-4 text-3xl font-bold md:text-5xl">Hi,👋 I'm David</h1>
  	<p class="text-md text-gray-500">Spanish Full Stack Developer with over 3 years of web development experience.</p>
  </div>
</header>